<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>Xiaoxiami</title>

    <!-- ========== Css Files ========== -->
    <link href="/static/css/root.css" rel="stylesheet">

</head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/static/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/" class="logo">小虾米</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Sidepanel Show-Hide Button -->
    <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a>
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">
        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="/static/img/profileimg.png"
                                                                                       alt="img"><b>Xiaoxiami</b><span
                    class="caret"></span></a>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li><a href="/info/billboard"><span class="icon color5"><i class="fa fa-desktop"></i></span>高塔监测<span
                class="label label-default">10</span></a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">高塔监测</h1>
    </div>
    <!--Start Buttons-->
    <div class="row btndiv">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">高塔监测</div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-16">
                        <a class="btn btn-normal" id="0001">0001<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0002">0002<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0003">0003<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0004">0004<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0005">0005<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0006">0006<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0007">0007<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0008">0008<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0009">0009<br>0&nbsp0</a>
                        <a class="btn btn-normal" id="0010">0010<br>0&nbsp0</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-time.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-stack.js"></script>.;
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-pie.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-plugin.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart-plugin.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline-plugin.js"></script>
<script type="text/javascript" src="/static/js/billboardUpdate.js"></script>
<script src="/static/js/rickshaw/d3.v3.js"></script>
<script src="/static/js/rickshaw/rickshaw.js"></script>
<script src="/static/js/rickshaw/rickshaw-plugin.js"></script>
<script type="text/javascript" src="/static/js/moment/moment.min.js"></script>

</body>
</html>