<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>Xiaoxiami</title>

    <!-- ========== Css Files ========== -->
    <link href="/static/css/root.css" rel="stylesheet">

</head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/static/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/" class="logo">小虾米</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Sidepanel Show-Hide Button -->
    <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a>
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">
        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="/static/img/profileimg.png"
                                                                                       alt="img"><b>Xiaoxiami</b><span
                    class="caret"></span></a>
            <!--<ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">-->
            <!--<li role="presentation" class="dropdown-header">Profile</li>-->
            <!--<li><a href="#"><i class="fa falist fa-inbox"></i>Inbox<span class="badge label-danger">4</span></a></li>-->
            <!--<li><a href="#"><i class="fa falist fa-file-o"></i>Files</a></li>-->
            <!--<li><a href="#"><i class="fa falist fa-wrench"></i>Settings</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><i class="fa falist fa-lock"></i> Lockscreen</a></li>-->
            <!--<li><a href="#"><i class="fa falist fa-power-off"></i> Logout</a></li>-->
            <!--</ul>-->
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li><a href="/info/parking"><span class="icon color5"><i class="fa fa-automobile"></i></span>停车管理<span
                class="label label-default">27</span></a></li>
        <li><a href="/info/manhole"><span class="icon color6"><i class="fa fa-dot-circle-o"></i></span>井盖管理<span
                class="label label-default">10</span></a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">井盖管理</h1>
        <ol class="breadcrumb">
            <li class="active">此页面可以查看每个井盖的状态，单击井盖编号可以进入该井盖的管理页面。</li>
        </ol>
    </div>
    <!--Start Buttons-->
    <div class="row btndiv">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">井盖监控</div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-16">
                        <a href="/info/manhole-config/?id=1" class="btn btn-normal" id="1">1<br>正常</a>
                        <a href="/info/manhole-config/?id=2" class="btn btn-normal" id="2">2<br>正常</a>
                        <a href="/info/manhole-config/?id=3" class="btn btn-normal" id="3">3<br>正常</a>
                        <a href="/info/manhole-config/?id=4" class="btn btn-normal" id="4">4<br>正常</a>
                        <a href="/info/manhole-config/?id=5" class="btn btn-normal" id="5">5<br>正常</a>
                        <a href="/info/manhole-config/?id=6" class="btn btn-normal" id="6">6<br>正常</a>
                        <a href="/info/manhole-config/?id=7" class="btn btn-normal" id="7">7<br>正常</a>
                        <a href="/info/manhole-config/?id=8" class="btn btn-normal" id="8">8<br>正常</a>
                        <a href="/info/manhole-config/?id=9" class="btn btn-normal" id="9">9<br>正常</a>
                        <a href="/info/manhole-config/?id=10" class="btn btn-normal" id="10">10<br>正常</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-time.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-stack.js"></script>.;
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-pie.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-plugin.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart-plugin.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline-plugin.js"></script>
<script type="text/javascript" src="/static/js/manholeUpdate.js"></script>
<script src="/static/js/rickshaw/d3.v3.js"></script>
<script src="/static/js/rickshaw/rickshaw.js"></script>
<script src="/static/js/rickshaw/rickshaw-plugin.js"></script>
<script type="text/javascript" src="/static/js/moment/moment.min.js"></script>

</body>
</html>