<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>Xiaoxiami</title>

    <!-- ========== Css Files ========== -->
    <link href="/static/css/root.css" rel="stylesheet">
    <!-- Bootstrap Styles-->
    <link href="/static/css/config/css/configbootstrap.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/css/config/css/custom-styles.css" rel="stylesheet"/>

</head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/static/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/" class="logo">小虾米</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Sidepanel Show-Hide Button -->
    <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a>
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">
        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="/static/img/profileimg.png"
                                                                                       alt="img"><b>Xiaoxiami</b><span
                    class="caret"></span></a>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li><a href="/info/parking"><span class="icon color5"><i class="fa fa-automobile"></i></span>停车管理<span
                class="label label-default">27</span></a></li>
        <li><a href="/info/manhole"><span class="icon color6"><i class="fa fa-dot-circle-o"></i></span>井盖管理<span
                class="label label-default">20</span></a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">井盖编号:<b id="nodeid">{{datadic.address}}</b></h1>

        <ol class="breadcrumb">
            <li class="active">此页面可以查看每个井盖的详细信息，并且可以向该井盖发送控制命令。</li>
        </ol>
    </div>
    <!--Start Buttons-->
    <div class="row btndiv">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">当前状态</div>
                <div class="panel-body">
                    <h1 class="status" id="level">沉降等级:</h1>
                    <h1 class="statuscode" id="open_status">开启状态:</h1>
                    <h1 class="statuscode" id="loss_status">丢失状态:</h1>
                    <h1 class="statuscode" id="battery">电池电量:</h1>
                    <h1 class="statuscode" id="updatetime">更新时间:</h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-title">发送命令</div>
                <div class="button-small">
                    <a id="s_cali" class="btn btn-default btn-block">校准<b id="s_cali_icon"></b></a>
                    <a id="s_reboot" class="btn btn-primary btn-block">重启<b id="s_reboot_icon"></b></a>
                    <a id="s_stop" class="btn btn-default btn-block">停止检测<b id="s_stop_icon"></b></a>
                    <a id="s_start" class="btn btn-primary btn-block">恢复检测<b id="s_start_icon"></b></a>
                </div>

                <div class="button-big">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <a id="cali" class="btn btn-default">校准<b id="cali_icon"></b></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a id="reboot" class="btn btn-primary">重启<b id="reboot_icon"></b></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a id="stop" class="btn btn-default">停止检测<b id="stop_icon"></b></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a id="start" class="btn btn-primary">恢复检测<b id="start_icon"></b></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-title">状态信息</div>
                <div class="row">
                    <div class="circle-big">
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>节点电量</h4>
                                    <div class="easypiechart" id="leasypiechart-blue" data-percent="50"><span
                                            class="percent" id="leasypiechart-blue_span">50%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>通信质量</h4>
                                    <div class="easypiechart" id="leasypiechart-orange"
                                         data-percent="90"><span
                                            class="percent">90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>报警次数</h4>
                                    <div class="easypiechart" id="leasypiechart-teal" data-percent="0"><span
                                            class="percent">0次</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>危险程度</h4>
                                    <div class="easypiechart" id="leasypiechart-red" data-percent="46"><span
                                            class="percent" id="leasypiechart-red_span">46%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-small">
                        <div class="col-xs-16 col-md-13">
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>节点电量</h4>
                                    <div class="easypiechart" id="easypiechart-blue" data-percent="100"><span
                                            class="percent" id="easypiechart-blue_span">100%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>通信质量</h4>
                                    <div class="easypiechart" id="easypiechart-orange"
                                         data-percent="90"><span
                                            class="percent">90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>报警次数</h4>
                                    <div class="easypiechart" id="easypiechart-teal" data-percent="0"><span
                                            class="percent">0次</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body easypiechart-panel">
                                    <h4>危险程度</h4>
                                    <div class="easypiechart" id="easypiechart-red" data-percent="46"><span
                                            class="percent">46%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /. PAGE INNER  -->
            </div>

            <div class="panel panel-default">
                <div class="panel-title">日志查询</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="date-range-and-time-picker" class="form-control"
                                                   value="08/01/2015 1:00 PM - 08/01/2015 1:30 PM" class="span4"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <button class="btn btn-default btn-round">查询</button>
                        </form>
                    </div>
                    <table id="example0" class="table display">
                        <thead>
                        <tr>
                            <th>节点编号</th>
                            <th>状态</th>
                            <th>管理员</th>
                            <th>上次报警时间</th>
                            <th>最近更新时间</th>
                            <th>备注</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>节点编号</th>
                            <th>状态</th>
                            <th>管理员</th>
                            <th>上次报警时间</th>
                            <th>最近更新时间</th>
                            <th>备注</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr>
                            <td>0001</td>
                            <td>正常</td>
                            <td>小虾米</td>
                            <td>2016-4-7 20:21</td>
                            <td>2016-4-7 20:21</td>
                            <td>测试</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/moment/moment.min.js"></script>
<script type="text/javascript" src="/static/js/date-range-picker/daterangepicker.js"></script>
<script type="text/javascript" src="/static/js/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-time.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-stack.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-pie.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart-plugin.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline-plugin.js"></script>
<script type="text/javascript" src="/static/js/rickshaw/d3.v3.js"></script>
<script type="text/javascript" src="/static/js/rickshaw/rickshaw.js"></script>
<script type="text/javascript" src="/static/js/rickshaw/rickshaw-plugin.js"></script>
<script type="text/javascript" src="/static/js/moment/moment.min.js"></script>
<script type="text/javascript" src="/static/js/config/js/easypiechart.js"></script>
<script type="text/javascript" src="/static/js/config/js/easypiechart-data.js"></script>
<script type="text/javascript" src="/static/js/manholeItemUpdate.js"></script>

<!-- Date Range and Time Picker -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#date-range-and-time-picker").daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            format: 'MM/DD/YYYY h:mm A'
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#example0').DataTable();
    });
</script>


<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {"visible": false, "targets": 2}
            ],
            "order": [[2, 'asc']],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({page: 'current'}).nodes();
                var last = null;

                api.column(2, {page: 'current'}).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }
        });

        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            }
            else {
                table.order([2, 'asc']).draw();
            }
        });
    });
</script>
</body>
</html>