<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <title>Xiaoxiami</title>

    <!-- ========== Css Files ========== -->
    <link href="/static/css/root.css" rel="stylesheet">

</head>
<body>
<!-- Start Page Loading -->
<div class="loading"><img src="/static/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/" class="logo">小虾米</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>
    <!-- End Searchbox -->
    <!-- Start Sidepanel Show-Hide Button -->
    <a href="#sidepanel" class="sidepanel-open-button"><i class="fa fa-outdent"></i></a>
    <!-- End Sidepanel Show-Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">
        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="/static/img/profileimg.png"
                                                                                       alt="img"><b>Xiaoxiami</b><span
                    class="caret"></span></a>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <li><a href="/info/parking"><span class="icon color5"><i class="fa fa-automobile"></i></span>停车管理<span
                class="label label-default">27</span></a></li>
        <li><a href="/info/manhole"><span class="icon color6"><i class="fa fa-dot-circle-o"></i></span>井盖管理<span
                class="label label-default">20</span></a></li>
    </ul>

</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">停车管理</h1>
        <ol class="breadcrumb">
            <li class="active">此页面可以查看停车信息，单击车位编号可以进入该车位的管理页面。</li>
        </ol>
    </div>
    <!--Start Buttons-->
    <div class="row btndiv">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">车位信息</div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-16">
                        <p id="printf"></p>
                        <a href="/info/parking-config/?id=0001" class="btn btn-normal" id="0001">0001<br>未停车</a>
                        <a href="/info/parking-config/?id=0002" class="btn btn-normal" id="0002">0002<br>未停车</a>
                        <a href="/info/parking-config/?id=0003" class="btn btn-normal" id="0003">0003<br>未停车</a>
                        <a href="/info/parking-config/?id=0004" class="btn btn-normal" id="0004">0004<br>未停车</a>
                        <a href="/info/parking-config/?id=0005" class="btn btn-normal" id="0005">0005<br>未停车</a>
                        <a href="/info/parking-config/?id=0006" class="btn btn-normal" id="0006">0006<br>未停车</a>
                        <a href="/info/parking-config/?id=0007" class="btn btn-normal" id="0007">0007<br>未停车</a>
                        <a href="/info/parking-config/?id=0008" class="btn btn-normal" id="0008">0008<br>未停车</a>
                        <a href="/info/parking-config/?id=0009" class="btn btn-normal" id="0009">0009<br>未停车</a>
                        <a href="/info/parking-config/?id=0010" class="btn btn-normal" id="0010">0010<br>未停车</a>
                        <a href="/info/parking-config/?id=0011" class="btn btn-normal" id="0011">0011<br>未停车</a>
                        <a href="/info/parking-config/?id=0012" class="btn btn-normal" id="0012">0012<br>未停车</a>
                        <a href="/info/parking-config/?id=0013" class="btn btn-normal" id="0013">0013<br>未停车</a>
                        <a href="/info/parking-config/?id=0014" class="btn btn-normal" id="0014">0014<br>未停车</a>
                        <a href="/info/parking-config/?id=0015" class="btn btn-normal" id="0015">0015<br>未停车</a>
                        <a href="/info/parking-config/?id=0016" class="btn btn-normal" id="0016">0016<br>未停车</a>
                        <a href="/info/parking-config/?id=0017" class="btn btn-normal" id="0017">0017<br>未停车</a>
                        <a href="/info/parking-config/?id=0018" class="btn btn-normal" id="0018">0018<br>未停车</a>
                        <a href="/info/parking-config/?id=0019" class="btn btn-normal" id="0019">0019<br>未停车</a>
                        <a href="/info/parking-config/?id=0020" class="btn btn-normal" id="0020">0020<br>未停车</a>
                        <a href="/info/parking-config/?id=0021" class="btn btn-normal" id="0021">0021<br>未停车</a>
                        <a href="/info/parking-config/?id=0022" class="btn btn-normal" id="0022">0022<br>未停车</a>
                        <a href="/info/parking-config/?id=0023" class="btn btn-normal" id="0023">0023<br>未停车</a>
                        <a href="/info/parking-config/?id=0024" class="btn btn-normal" id="0024">0024<br>未停车</a>
                        <a href="/info/parking-config/?id=0025" class="btn btn-normal" id="0025">0025<br>未停车</a>
                        <a href="/info/parking-config/?id=0026" class="btn btn-normal" id="0026">0026<br>未停车</a>
                        <a href="/info/parking-config/?id=0027" class="btn btn-normal" id="0027">0027<br>未停车</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-time.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-stack.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-pie.js"></script>
<script type="text/javascript" src="/static/js/flot-chart/flot-chart-plugin.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart.js"></script>
<script type="text/javascript" src="/static/js/easypiechart/easypiechart-plugin.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline.js"></script>
<script type="text/javascript" src="/static/js/sparkline/sparkline-plugin.js"></script>
<script type="text/javascript" src="/static/js/parkingUpdate.js"></script>
<script src="/static/js/rickshaw/d3.v3.js"></script>
<script src="/static/js/rickshaw/rickshaw.js"></script>
<script src="/static/js/rickshaw/rickshaw-plugin.js"></script>
<script type="text/javascript" src="/static/js/moment/moment.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>